attrs==19.1.0
awscli==1.16.192
Click==7.0
coverage==4.5.3
grpcio==1.21.1
grpcio-tools==1.21.1
isort==4.3.21
matplotlib==3.0.3
numpy==1.16.3
opencv-python==4.1.0.25
Pillow==6.0.0
pycocotools==2.0.0
pyquaternion==0.9.5
streamlit==0.48.1
tqdm==4.29.1
timm==0.4.5
